#wall{
    background-image: url(../images/star1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background  3s ease;
    
    

}
#vict{
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    width: 450px;
    height: 100px;
    background-color: antiquewhite;
    
    
    z-index: 1000;
}

#loss{
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    width: 450px;
    height: 100px;
    background-color: antiquewhite;
    
    
    z-index: 1000;
}
#inst{
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    width: 450px;
    height: 100px;
    background-color: antiquewhite;
    
    
    z-index: 1000;
}
#cardb{
    background-color: aliceblue ;
}


#blink{
    background-color: transparent;
    position: absolute;
    top: 74%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    width: 450px;
    height: 100px;
    font-family: 'Rubik Mono One', sans-serif;
    color: lavender;
    font-size: x-large;
    z-index: 1000;
}
#blink2{
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 450px;
    height: 100px;
    font-family: 'Rubik Mono One', sans-serif;
    color: springgreen;
    font-size: x-large;
    z-index: 1000;
    visibility: hidden;
}


.car{
    width: inherit;
    
    visibility: hidden;
    transition:  3s ease;
    background-color:inherit;
    
}
.image{
    width: 295px;
    height: 184px;
}

.card-title{
    font-family: 'Anton', sans-serif;

    color: lightslategrey;

    font-size: x-large;
    font-weight: bold;
}
.card{
    background-color: lightgray;
    z-index: 1000;
    opacity: 0.9;

}
.card:hover{
    background-color: springgreen;
    cursor: pointer;
}

.carp{
    background-color: springgreen ;

}
.carp:hover{
    cursor: pointer;
}
.care{
    background-color: red;

}
.care:hover{
    background-color: red;
    cursor: pointer;
}

